.background {
    width: 1000px;
    position: absolute;
    top: calc(50% - 357px);
    left: calc(50% - 500px);
}

.safebox {
    position: absolute;
    width: 82px;
    top: 411px;
    right:calc(50% - 185px);
    cursor: pointer;
}

.book {
    position: absolute;
    width: 120px;
    right: calc(50% - 19px);
    cursor: pointer;
}

.result {
    position: absolute;
    white-space: pre;
    top: calc(50% - 285px);
    left: calc(50% - 405px);
    transform: rotate(3deg);
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}

.result .result-group {
    display: inline-block;
    font-weight: 100;
    font-size: 18px;
    color: #0001ff;
}

.question-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3c423d7a;
}

.question-popup .background-popup {
    position: absolute;
    width: 450px;
    height: 300px;
    background: #c7c3c3fa;
    top: calc(50% - 150px);
    left: calc(50% - 225px);
    transform: rotate(-8deg);
    border-radius: 20px;
}

.question-popup .content {
    position: absolute;
    width: 450px;
    height: 300px;
    background: #ffffff;
    top: calc(50% - 150px);
    left: calc(50% - 225px);
    border-radius: 20px;
}

.question-popup .content .group {
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
    letter-spacing: 2px;
}

.question-popup .content .question {
    text-align: center;
    font-size: 18px;
    position: absolute;
    width: calc(100% - 40px);
    top: calc(50% - 70px);
    color: #493023;
    letter-spacing: 0px;
    padding: 0 20px;
    white-space: break-spaces;
}

.question-popup .content .answer {
    position: absolute;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    background: #a5ffa4;
    border-radius: 10px;
    bottom: 12px;
    left: calc(50% - 50px);
    font-weight: bold;
    font-size: 20px;
    color: #a5ffa4;
    cursor: pointer;
}

.question-popup .close-btn {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% + 195px);
    z-index: 10;
    font-weight: bold;
    cursor: pointer;
}

.code {
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% - 40px);
}
.code .code-block {
    width: 40px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.hint {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #74cd3e;
    top: calc(50% - -20px);
}

.code-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3c423d7a;
}

.code-popup .background-popup {
    position: absolute;
    width: 300px;
    height: 200px;
    background: #c7c3c3fa;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    transform: rotate(-8deg);
    border-radius: 20px;
}

.code-popup .content {
    position: absolute;
    width: 300px;
    height: 200px;
    background: #ffffff;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border-radius: 20px;
}

.code-popup .close-btn {
    position: absolute;
    top: calc(50% - 81px);
    font-weight: bold;
    color: white;
    font-size: 15px;
    left: calc(50% + 120px);
    z-index: 10;
    cursor: pointer;
}